@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap');
*{
    font-family: 'Azeret Mono', monospace;
    margin: 0;
    padding: 0;
}
.section1{
    margin: 10%;
    display: flex;
    flex-direction:raw;
    align-items: center;
    justify-content: center;
}
.section{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-left: 370px;
    margin-top:-2px;
}
.web,.python,.android,.clanguage,.data{
    width: 250px;
    height: 20px;
    background-color:whitesmoke;
   
   border-radius: 12px;
   border: 2px solid rgb(0, 17, 255);
    margin-left: 15px;
    /* align-items: center; */
    text-align: center;
  
    background-image:linear-gradient(to top, rgb(0, 4, 255) 3px,white 97px);
    padding-top: 142px;

    height: 200px;
    /* box-shadow: 3px 3px 3px 2px rgb(255, 201, 201); */
}
a{
    text-decoration: none;
    
}
.python:hover,.android:hover,.clanguage:hover,.data:hover,.web:hover{
    box-shadow: 3px 2px 10px 10px rgb(117, 119, 255);
    background-image:linear-gradient(to bottom, rgb(0, 4, 255) 3px,white 97px);
    
}
a:hover{
    color: red;
}

